---
const title = "Contact";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} | Mike Iswalt</title>
  </head>

  <body>
    <div class="wrap">
      <a href="/">← Home</a>

      <h1>Contact</h1>

      <p>
        If you’d like to get in touch or explore my work, you can reach me here:
      </p>

      <ul>
        <li>
          Email:
          <a href="mailto:mike.iswalt@gmail.com">
            mike.iswalt@gmail.com
          </a>
        </li>

        <li>
          GitHub:
          <a
            href="https://github.com/miswalt"
            target="_blank"
            rel="noopener noreferrer"
          >
            github.com/miswalt
          </a>
        </li>

        <li>
          LinkedIn:
          <a
            href="https://www.linkedin.com/in/mike-iswalt/"
            target="_blank"
            rel="noopener noreferrer"
          >
            linkedin.com/in/mike-iswalt
          </a>
        </li>
      </ul>
    </div>
  </body>
</html>
